<div>
    <LinkTo @route={{@route}}>

    <div class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4">
    <div class="flex-shrink-0">
        <h2 class="text-5xl">{{@icon}}</h2> 
        {{!-- <img class="h-12 w-12" src="/img/logo.svg" alt="ChitChat Logo"> --}}
    </div>
    <div>
        <div class="text-xl font-medium text-black">{{@title}}</div>
        <p class="text-gray-500">{{@description}}</p>
    </div>
    </div>
    </LinkTo>
</div>
