<div>
    <LinkTo data-test-route @route={{@route}}>
        <div class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4">
            <div class="flex-shrink-0">
                <h2 data-test-icon class="text-5xl">{{@icon}}</h2>
            </div>
            <div>
                <div data-test-title  class="text-xl font-medium text-black">{{@title}}</div>
                <p data-test-description class="text-gray-500">{{@description}}</p>
            </div>
        </div>
    </LinkTo>
</div>
